/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.info-faq-box {
	display: block;
	position: relative;
	.box-inner-wrap {
		padding: 75px 0 100px 0;
	}
	.title-wrap {
		margin-bottom: 26px;
	}
	.action-wrap {
		margin-top: 29px;
	}
	.row {
		margin-top: 0;
		margin-bottom: 0;
	}
	.col {
		margin: 0;
		&:first-child {
			.item-tile-faq {
				border-top: 1px solid #F5F5F5;
			}
		}
	}
	.btn {
		padding: 0 20px;
		font-size: 16px;
		&.button-medium {
			padding: 0 20px;
		}
		.button-title {
			font-weight: bold;
		}
	}
}
.info-tarif-box {
	display: block;
	position: relative;
	.tarifs-box {
		margin-bottom: 0;
		.elm-check {
			&:before {
				background-image: url(../img/icons/check-att.svg);
				filter: none;
			}
		}
	}
	.tarifs-box .td-title, .tarifs-box .th-title {
		font-size: 20px;
	}
	.tarifs-box {
		.btn {
			.button-title {
				font-weight: bold;
			}
		}
	}
}
.info-clients-box {
	display: block;
	position: relative;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: 0.01em;
	.title-wrap {
		margin-bottom: 30px;
	}
	.info-wrap {
		width: 300px;
	}
	.btn {
		height: 38px;
		padding: 0 20px;
		border-radius: 9px;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 0.03em;
	}
}
.info-logos-box {
	position: relative;
	.box-inner-wrap {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	.title-wrap {
		margin-bottom: 36px;
	}
	.tabs-wrap {
		margin-bottom: 46px;
		max-width: 366px;
	}
	.tabs-box {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.info-video-box {
	position: relative;
	color: #fff;;
	.box-inner-wrap {
		padding-bottom: 20px;
		padding-top: 50px;
	}
	.title-wrap {
		margin-bottom: 36px;
		text-align: center;
	}
	.page-main-title {
		color: inherit;
	}
	.item-tile-video {
		aspect-ratio: 360/250;
		border-radius: 14px;
		width: 100%;
		height: auto;
		.btn-play {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 10;
		}
	}
}
.info-screens-box {
	position: relative;
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: 0.03em;
	.title-wrap {
		text-align: center;
		margin-bottom: 40px;
		font-size: 20px;
		line-height: 1.4;
		letter-spacing: 0.01em;
	}
	.photo-inner-wrap {
		position: relative;
		padding-top: 60px;
		margin: 0 auto;
		max-width: 400px;
		overflow: hidden;
	}
	.info-inner-wrap {
		p {
			max-width: 270px;
		}
	}
	.elm-photo {
		aspect-ratio: 360/220;
		border-radius: 10px;
		z-index: 3;
		&:nth-child(2) {
			position: absolute;
			z-index: 2;
			top: 30px;left: 50%;
			transform: translateX(-50%);
			width: 83.3%;
			opacity: 0.35;
		}
		&:nth-child(3) {
			position: absolute;
			z-index: 1;
			top: 0;left: 50%;
			transform: translateX(-50%);
			opacity: 0.08;
			width: 66.6%;
		}
	}
	.elm-ico {
		width: 44px;height: 44px;
		margin-bottom: 24px;
	}
	.page-second-title {
		margin-bottom: 15px;
	}
	.btn {
		height: 38px;
		padding: 0 20px;
	}
}
.info-tiles-box {
	position: relative;
	&.section-third {
		.slider-wrap {
			overflow: visible;
		}
		.sl-wrap {
			transition: all ease 0.2s;
			opacity: 0;
		}
		.swiper-slide-active {
			opacity: 1;
		}
	}
	&.section-second {
		.box-inner-wrap {
			padding: 100px 0;
		}
	}
	.slider-action-wrap {
		margin-top: 30px;
		padding: 0 1.5rem;
		.btn {
			padding: 0 20px;
			.button-title {
				font-weight: bold;
			}
		}
	}
	.box-inner-wrap {
		padding: 50px 0 104px 0;
	}
	.slider-wrap {
		margin: 0 -1.5rem;
	}
	.sl-wrap {
		padding: 0 1.5rem;
	}
	.slider-pagination {
		padding-top: 30px;
	}
}
.info-buyers-box {
	display: block;
	position: relative;
	font-size: 20px;
	line-height: 1.4;
	.box-inner-wrap {
		padding: 90px 0 133px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}
	.title-wrap {
		width: 100%;
		flex-shrink: 0;
		margin-bottom: 15px;
	}
	.photo-wrap {
		width: 70%;
		flex-shrink: 0;
	}
	.photo-second {
		width: 30%;
		flex-shrink: 0;
		display: flex;
		justify-content: flex-end;
		position: relative;
		z-index: 2;
		.elm-photo {
			max-width: inherit;
			width: 280%;
			z-index: 2;
			flex-shrink: 0;
			margin-right: -100%;
			margin-bottom: -70%;
		}
	}
	.title-att-gr {
		background: linear-gradient(90deg, #3DA0FE 64.74%, #6B60F2 73.98%, #E139D3 88.53%, #FF7280 91.93%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.title-inner {
		margin-bottom: 30px;
	}
}
.info-lead-box {
	position: relative;
	z-index: 2;
	font-size: 22px;
	line-height: 1.4;
	color: #fff;
	.box-inner-wrap {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		padding: 115px 0 42px 0;
	}
	.title-wrap {
		order: 1;
		margin-bottom: 15px;
	}
	.photo-wrap {
		order: 2;
		margin-bottom: 30px;
		.elm-photo {
			max-width: 770px;
			margin: 0 auto;
		}
	}
	.text-wrap {
		order: 3;
	}
	.title-inner {
		font-size: (43/22em);
		line-height: 1.1;
		font-weight: bold;
		color: inherit;
		margin-bottom: 3rem;
		max-width: (1000/116em);
		&:last-child {
			margin: 0;
		}
	}
	.btn {
		min-width: 133px;;
		height: 38px;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 0.48px;
		&.button-border-att {
			color: #fff;
			.button-title {
				&:before {
					background-color: #0E100F;
				}
			}
		}
	}
}
.tiles-box {
	margin-bottom: 50px;
	position: relative;
	&.view-tiles {
		.items-wrap {
			margin: 0 -10px -20px -10px;
		}
		.item-wrap {
			padding: 0 10px;
			margin-bottom: 20px;
			width: 50%;
			&:last-child {
				margin-bottom: 20px;
			}
		}
	}
	.items-wrap {
		margin: 0;
	}
	.item-wrap {
		user-select: none;
		width: 100%;
		padding: 0;
		margin: 0 0 20px 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.placeholder {
		background-color: #e0e0e0; /* Цвет для места вставки */
		border: 2px dashed #000; /* Обводка для индикации места вставки */
		height: 50px; /* Высота, соответствующая .item-wrap */
		width: 100%;
	}
}
.page-popup-box {
	max-width: 360px;
	margin: 0 auto 50px auto;
	border-radius: 20px;
	box-shadow: var(--shadowMain);
	background: #fff;
	z-index: 80;
	padding: 62px 20px 20px 20px;
	position: relative;
	.btn-popup-close {
		position: absolute;
		top: 10px;right: 10px;
		z-index: 2;
	}
	.popup-title-wrap  {
		margin-bottom: 32px;
	}
}
.tiles-popup-box {
	margin: 0 auto;
	.items-wrap {
		margin: 0;
	}
	.item-wrap {
		padding: 0;
		margin-bottom: 30px;
		width: 100%;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.profile-box {
	margin-bottom: 50px;
	.frm-section-wrap {
		position: relative;
		margin-bottom: 53px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.page-title {
		margin-bottom: 30px;
	}
	.frm-row-submit {
		margin-top: -20px;
		.frm-field {
			margin-bottom: 0;
		}
		.btn {
			width: 100%;
		}
	}
}
.tarifs-box {
	margin-bottom: 50px;
	position: relative;
	.tbl-inner-wrap {
		position: relative;
	}
	.tbl-tarif {
		margin: 0;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 500;
		position: relative;
		&:has(th:nth-child(2):hover), &:has(td:nth-child(2):hover) {
			&:before {
				right: 520px;
				opacity: 1;
			}
		}
		&:has(th:nth-child(3):hover), &:has(td:nth-child(3):hover) {
			&:before {
				right: 260px;
				opacity: 1;
			}
		}
		&:has(th:nth-child(4):hover), &:has(td:nth-child(4):hover) {
			&:before {
				right: 0;
				opacity: 1;
			}
		}
		th, td {
			border: none;
			border-bottom: 1px solid var(--clr-border);
			vertical-align: top;
			text-align: left;
			font-size: 1em;
			font-weight: inherit;
			line-height: inherit;
			padding: 19px 20px;
			letter-spacing: 0.01em;
			color: inherit;
			width: 260px;
			position: relative;
			z-index: 2;
			&:first-child {
				width: auto;
			}
		}
		tbody {
			tr {
				&:last-child {
					th, td {
						padding-bottom: 30px;
						border-bottom: none;
					}
				}
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;bottom: 0;right: 0;
			width: 260px;
			border-radius: 10px;
			box-shadow: var(--shadowMain);
			transition: all ease 0.2s;
			opacity: 0;
		}
	}
	.th-att {
		display: inline-block;
		background: linear-gradient(90deg, #3DA0FE 0%, #6B60F2 34%, #E139D3 87.5%, #FF7280 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	p, .td-text {
		font-size: 16px;
	}
	.th-title, .td-title {
		font-size: 1em;
		font-weight: inherit;
		line-height: inherit;
		margin-bottom: 0.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.td-title {
		font-size: 16px;
		margin-bottom: 15px;
		padding-top: 10px;
	}
	.btn {
		width: 140px;
	}
}
.tabs-box {
	margin-bottom: 26px;
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	padding: 2px;
	line-height: 1;
	background: var(--clr-bg-light);
	&:has(.button-tab-main) {
		background-color: #FAFAFB;
		border-radius: 50px;
	}
	.menu {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -2px;
		li {
			padding: 0 2px;
			flex: 1;
		}
		.btn {
			font-weight: 500;
			width: 100%;
		}
	}
}
.page-title-box {
	position: relative;
	z-index: 99;
	.title-wrap {
		margin-bottom: 20px;
	}
	.tabs-wrap {
		margin-bottom: 26px;
	}
	.tabs-box {
		margin-bottom: 0;
	}
	.actions-wrap {
		display: flex;
		align-items: center;
		.btn {
			height: 50px;
		}
	}
}
.scroll-inner-wrap {
	padding-bottom: 16px;
	display: flex;
	margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
	padding-left: var(--paddingContainer);
	overflow-x: auto;
	.frm-select-info {
		margin-right: 20px;
		flex-shrink: 0;
	}
}
body.popup-open {
	overflow: hidden;
}
.popup-outer-box {
	display: none;
	flex-direction: column;
	padding: 100px 20px;
	animation: fadein ease 0.2s;
	align-items: center;
	justify-content: center;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 100;
	background: none;;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	&.active {
		display: flex;
	}
	&.popup-main {
		background: rgba(14, 16, 15, 0.70);
		backdrop-filter: blur(15px);
		left: 0;right: 0;
		padding: 20px;
		&:before {
			display: none;
		}
	}
}
.popup-main {
	.popup-box {
		border-radius: 20px;

	}
}
.popup-box {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
	width: 410px;
	max-width: 100%;
	max-height: 100%;
	background-color: #fff;
	z-index: 20;
	border-radius: 20px;
	padding: 42px 0 0 0;
	box-shadow: var(--shadowMain);
	.popup-title-wrap, .popup-footer-wrap {
		width: 100%;
		flex-shrink: 0;
		padding: 20px 20px 12px 20px;;
	}
	.popup-content-wrap {
		width: 100%;
		overflow: auto;
		-ms-overflow-style: none;
		padding: 20px;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
	.btn-popup-close {
		position: absolute;
		top: 10px;right: 10px;
	}
}
.popup-login-box {
	border-top: 1px solid var(--clr-border);
	padding-top: 39px;
	margin-top: 36px;
	&:first-child {
		margin-top: 0;
		border-top: none;
		padding-top: 0;
	}
	.login-title {
		display: block;
		font-size: 10px;
		letter-spacing: 0.8px;
		text-transform: uppercase;
		color: rgba(29, 29, 31, 0.70);
		line-height: 1;
		font-weight: 400;
		text-align: center;
		margin-bottom: 20px;
	}
	.frm-row {
		margin: 0 -5px;
	}
	.frm-field {
		padding: 0 5px;
		margin: 0;
		width: 33.33%;
	}
}
.bg-inner-wrap {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 100dvw;
	min-width: var(--min);
	transform: translateX(-50%);
	z-index: -1;
	&.bg-dark {
		background-color: var(--clr-title);
	}
	&.bg-light {
		background-color: #FAFAFB;
	}
	&.bg-yellow {
		background-color: fade(#FFB72C, 15);
	}
	&.bg-border {
		border-bottom: 1px solid #F5F5F5;
	}
}
.box-inner-wrap {
	position: relative;
	z-index: 2;
	padding: 50px 0;
}
@media (max-width: 1599px) {
	.tarifs-box .tbl-tarif td, .tarifs-box .tbl-tarif th {
		width: 200px;
	}
	.tarifs-box {
		.tbl-tarif {
			&:has(th:nth-child(2):hover), &:has(td:nth-child(2):hover) {
				&:before {
					right: 400px;
					opacity: 1;
				}
			}
			&:has(th:nth-child(3):hover), &:has(td:nth-child(3):hover) {
				&:before {
					right: 200px;
					opacity: 1;
				}
			}
			&:before {
				width: 200px;
			}
		}
	}
}
@media (max-width: 1399px) {
	.tarifs-box .tbl-tarif td, .tarifs-box .tbl-tarif th {
		width: 180px;
	}
	
	.tarifs-box {
		.tbl-tarif {
			&:has(th:nth-child(2):hover), &:has(td:nth-child(2):hover) {
				&:before {
					right: 360px;
					opacity: 1;
				}
			}
			&:has(th:nth-child(3):hover), &:has(td:nth-child(3):hover) {
				&:before {
					right: 180px;
					opacity: 1;
				}
			}
			&:before {
				width: 180px;
			}
		}
	}
}
@media (max-width: 1199px) {
	.tarifs-box {
		.tbl-tarif {
			font-size: 16px;
			th, td {
				padding-left: 15px;
				padding-right: 15px;
				width: 170px;
			}
			&:has(th:nth-child(2):hover), &:has(td:nth-child(2):hover) {
				&:before {
					right: 340px;
					opacity: 1;
				}
			}
			&:has(th:nth-child(3):hover), &:has(td:nth-child(3):hover) {
				&:before {
					right: 170px;
					opacity: 1;
				}
			}
			&:before {
				width: 170px;
			}
		}
		p, .td-text, .td-title {
			font-size: 14px;
		}
	}
}
@media (max-width: 991px) {
	.page-title-box {
		.actions-wrap {
			display: flex;
			position: fixed;
			bottom: 0;left: 0;right: 0;
			background: #fff;
			z-index: 99;
			border-top: 1px solid var(--clr-border);
			.btn {
				width: 100%;
				min-width: 100%;
				height: 50px;
				border-radius: 0;
				font-weight: 500;
				&:before, &:after {
					display: none;
				}
				&.button-clear {
					width: 100%;
					font-weight: 400;
				}
			}
		}
		.action-wrap {
			width: 50%;
			flex-shrink: 0;
			border-left: 1px solid var(--clr-border);
			position: static;
			&:first-child {
				border-left: none;
			}
		}
	}
	.popup-search-wrap {
		.popup-content-block {
			position: absolute;
			bottom: 0;left: 0;right: 0;
			z-index: 10;
			padding: 8px 20px;
			background: #fff;
			border-top: 1px solid var(--clr-border);
			display: none;
		}
		
	}
}
@media (max-width: 767px) {
	.info-tarif-box {
		.tarifs-box .tbl-tarif .tr-total td, .tarifs-box .tbl-tarif .tr-total th {
			padding-bottom: 0;padding-top: 30px;
		}
	}
	.tarifs-box {
		&:has([data-tab="table01"].active) {
			.tbl-tarif {
				th, td {
					&:nth-child(3), &:nth-child(4) {
						display: none;
					}
				}
			}
		}
		&:has([data-tab="table02"].active) {
			.tbl-tarif {
				th, td {
					&:nth-child(2), &:nth-child(4) {
						display: none;
					}
				}
			}
		}
		&:has([data-tab="table03"].active) {
			.tbl-tarif {
				th, td {
					&:nth-child(2), &:nth-child(3) {
						display: none;
					}
				}
			}
		}
		.tbl-tarif {
			font-size: 18px;
			thead {
				display: none;
			}
			&:before {
				display: none;
			}
			th, td {
				width: 90px;
				max-width: 90px;
				text-align: right;
				padding-right: 0;
				&:first-child {
					text-align: left;
					padding-left: 0;
				}
				&:not(:first-child) {
					font-size: 20px;
				}
			}
			.tr-total {
				th, td {
					width: calc(100% - 90px);
					max-width: calc(100% - 90px);
					min-width: calc(100% - 90px);
					text-align: left;
					padding-left: 0;
					&:first-child {
						display: none;
					}
				}
			}
		}
		p, .td-text, .td-title {
			font-size: 16px;
		}
		.elm-out, .elm-check {
			margin: 0 0 0 auto;
		}
	}
}
@media (min-width: 576px) {
	.tiles-box {
		&.view-tiles {
			.item-wrap {
				width: 33.33%;
			}
		}
	}
}
@media (min-width: 640px) {
	
}
@media (min-width: 768px) {
	.info-faq-box {
		.box-inner-wrap {
			padding: 16rem 0;
		}
		.title-wrap {
			margin-bottom: 6rem;
		}
		.action-wrap {
			padding-top: 4rem;
		}
	}
	.info-clients-box {
		font-size: 2.2rem;
		.box-inner-wrap {
			padding-bottom: 8.5rem;
		}
		.title-wrap {
			margin-bottom: 4rem;
		}
		.photo-wrap {
			width: 76%;
			margin: -24% 0 0 auto;
		}
		.btn {
			margin-top: 1.5rem;
		}
	}
	.info-logos-box {
		.box-inner-wrap {
			padding: 15rem 0;
		}
		.tabs-wrap {
			margin-bottom: 26px;
		}
		.title-wrap {
			margin-bottom: 6rem;
		}
	}
	.info-video-box {
		position: relative;
		.box-inner-wrap {
			padding-bottom: 15rem;
			padding-top: 14rem;
		}
		.title-wrap {
			margin-bottom: 5.6rem;
		}
		.item-tile-video {
			aspect-ratio: 1170/600;
		}
	}
	.info-screens-box {
		.box-inner-wrap {
			padding-bottom: 0;
		}
		.photo-inner-wrap {
			margin: 0;
			max-width: 100%;
			padding: 0 0 0 17rem;
		}
		.info-inner-wrap {
			padding: 0 0 10rem 0;
			margin: 0 0 0 auto;
			max-width: 47rem;
		}
		.elm-ico {
			width: 9rem;height: 9rem;
			margin-bottom: 3rem;
		}
		.page-second-title {
			margin-bottom: 15px;
			font-size: 26px;
			letter-spacing: 0.26px;
			max-width: 290px;
		}
		.title-wrap {
			margin-bottom: 14rem;
		}
		.btn {
			margin-top: 2rem;
		}
		.elm-photo {
			aspect-ratio: 400/650;
			border-radius: 25px 25px 0 0;
			&:nth-child(2) {
				left: 8.5rem;
				top: 6rem;
				width: calc(100% - 17rem);
				transform: none;
			}
			&:nth-child(3) {
				left: 0;
				top: 12rem;
				width: 100%;
				width: calc(100% - 17rem);
				transform: none;
			}
		}
	}
	.info-tiles-box {
		&.section-second {
			.box-inner-wrap {
				padding: 15rem 0 12rem 0;
			}
		}
		.box-inner-wrap {
			padding: 15rem 0 15rem 0;
		}
	}
	.info-buyers-box {
		font-size: 2.2rem;
		.box-inner-wrap {
			align-items: flex-start;
			padding-bottom: 10rem;
			padding-top: 14rem;
		}
		.title-wrap {
			width: 50%;
			padding-left: 15px;
			order: 2;
			p {
				max-width: (370/22em);
			}
		}
		.photo-wrap {
			width: 50%;
			padding-right: 15px;
		}
		.photo-main {
			order: 1;
			&:before {
				content: "";
				display: block;
				width: 100%;
				padding-top: 24%;
			}
		}
		.photo-second {
			width: 50%;
			margin: 0 0 0 auto;
			order: 3;
			.elm-photo {
				margin: -42% 14% 0 0;
				width: 124%;
			}
		}
	}
	.info-lead-box {
		.box-inner-wrap {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding-top: 14rem;
			padding-bottom: 10rem;
		}
		.title-wrap {
			order: 1;
			width: 100%;
			flex-shrink: 0;
			margin: 0;
			padding: 0;
		}
		.text-wrap {
			order: 2;
			width: 16.8em;
			padding: 3em 0 0 0;
			margin: 0;
			flex-shrink: 0;
		}
		.photo-wrap {
			order: 3;
			flex-shrink: 0;
			margin: -10rem 0 -16rem 0;
			pointer-events: none;
			padding: 0;
			width: calc(100% - 16.8em);
			position: relative;
			z-index: 3;
			.elm-photo {
				margin: 0 0 0 auto;
			}
		}
		.btn {
			margin-top: 1rem;
		}
		
	}
	.tiles-box {
		&.view-tiles {
			.item-wrap {
				width: 33.33%;
			}
		}
	}
	.profile-box {
		.frm-section-wrap {
			width: 50%;
			max-width: 370px;
		}
		.frm-row-submit {
			width: 50%;
			max-width: 370px;
			margin: 0;
			.frm-field {
				padding: 0;
			}
		}
		.row-out {
			width: 150px;
			position: absolute;
			top: 0;left: 100%;
			margin: 0 0 0 90px;
			.frm-field {
				margin: 0;
				padding: 0;
				width: 100%;
			}
			.frm-field-file-added .field-file-added, .frm-field-file-added .field-file-generate {
				min-width: 150px;
			}
		}
	}
	.tarifs-box {
		.tabs-box {
			display: none;
		}
	}
	.box-inner-wrap {
		padding: 14rem 0;
	}
}
@media (min-width: 992px) {
	.info-tarif-box {
		.title-wrap {
			margin-bottom: 10px;
		}
	}
	.info-tiles-box {
		.title-wrap {
			margin-bottom: 5rem;
		}
		.slider-tiles-pagination {
			padding-top: 40px;
		}
		.slider-action-wrap {
			padding-top: 0;
			margin-top: -25px;
		}
	}
	.info-buyers-box {
	}
	.info-lead-box {
		.box-inner-wrap {
			padding-top: 18rem;
			padding-bottom: 10rem;
		}
		.title-inner {
			font-size: 11.6rem;
			line-height: 1.05;
		}
		.btn {
			height: 7.6rem;
			min-width: 19rem;
			font-size: 3.2rem;
			letter-spacing: 0.03em;
			&:after, &:before {
				border-radius: 1.8rem;
			}
			.button-title {
				&:before, &:after {
					border-radius: 1.8rem;
				}
			}
			&.button-border-att {
				.button-title {
					&:before, &:after {
						border-radius: 1.8rem;
					}
				}
			}
		}
	}
	.tiles-box {
		&.view-tiles {
			.items-wrap {
				display: flex;
			}
			.item-wrap {
				width: 33.33%;
			}
		}
		&:not(.view-tiles) {
			.items-wrap {
				display: block;
			}
			.item-wrap {
				margin: 0 0 -1px 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.page-popup-box {
		max-width: 490px;
		padding: 60px;
	}
	.sections-box {
		.scroll-selects {
			margin-left: 0;
			padding-left: 0;
		}
	}
	.page-title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 70px;
		border-bottom: 1px solid var(--clr-border);
		.title-wrap {
			flex-shrink: 0;
			margin: 0;
			padding: 0;
			min-width: 15%;
		}
		.tabs-wrap {
			flex-shrink: 0;
			padding: 0 15px;
			margin: 0;
		}
		.actions-wrap {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			margin: 0;
			position: relative;
		}
		.action-wrap {
			padding-left: 8px;
			position: static;
			.btn {
				padding: 0 19px;
				height: 40px;
				font-weight: 500;
				&.button-clear {
					font-weight: 400;
				}
			}
		}
		.popup-search-wrap {
			.popup-content-block {
				position: absolute;
				top: 0;right: 0;
				z-index: 20;
				background: #fff;
				width: 293px;
				display: none;
			}
			.frm-main-search {
				.popup-menu-block {
					top: 0;left: 0;right: 0;
					bottom: auto;
					padding: 55px 16px 20px 46px;
					border-radius: 10px 10px 20px 20px;
					max-height: 400px;
				}
			}
		}
	}
	.popup-outer-box {
		padding-left: var(--sideWidth);
		&:before {
			content: "";
			display: block;
			position: absolute;
			background: rgba(14, 16, 15, 0.70);
			backdrop-filter: blur(15px);
			left: var(--sideWidth);
			top: 0;
			bottom: 0;
			right: 0;
		}
	}
	.popup-box {
		width: 490px;
		padding: 42px 40px 40px 40px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 1200px) {
	.info-tiles-box {
		&.section-third {
			.swiper-slide-active {
				opacity: 1;
				&+.swiper-slide {
					opacity: 1;
					&+.swiper-slide {
						opacity: 1;
					}
				}
			}
		}
	}
	.info-tarif-box {
		.title-wrap {
			margin-bottom: 10px;
		}
		.tarifs-box .tbl-tarif td, .tarifs-box .tbl-tarif th {
			padding-top: 2.6rem;
			padding-bottom: 2.6rem;
		}
		.tarifs-box .tbl-tarif td, .tarifs-box .tbl-tarif th {
			font-size: 2.4rem;
		}
	}
	.info-tarif-box .tarifs-box .td-title, .info-tarif-box .tarifs-box .th-title {
		font-size: 2.4rem;
	}
	.tiles-box {
		&.view-tiles {
			.item-wrap {
				width: 25%;
			}
		}
	}
	.sections-box {
		.scroll-selects {
			margin-right: -4rem;
		}
	}
}
@media (min-width: 1400px) {
	.tiles-box {
		&.view-tiles {
			.item-wrap {
				width: 20%;
			}
		}
	}
}
@media (min-width: 1600px) {
	.tiles-box {
		&.view-tiles {
			.item-wrap {
				width: 16.66%;
				max-width: 260px;
			}
		}
	}
}