<!--header-panel-box-->
<div class="header-panel-box cnt-section">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/icons/logo.svg" alt="">
				</div>
				<div class="logo-title">НейроМейкер</div>
			</a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu button-active-toggle js-btn-popup-toggle"></a>
			<div class="popup-content-block popup-menu-block menu-right js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-action-menu button-toggle active js-btn-tgl">
								<div class="button-ico">
									<img src="./img/icons/menu-projects.svg" alt="">
								</div>
								<div class="button-title">Проекты</div>
							</a>
							<ul>
								<li>
									<a href="" class="btn-action-menu">
										<div class="button-ico">
											<img src="./img/icons/menu-folder.svg" alt="">
										</div>
										<div class="button-title">Электроника</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-action-menu">
										<div class="button-ico">
											<img src="./img/icons/menu-folder.svg" alt="">
										</div>
										<div class="button-title">Одежда</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-action-menu">
										<div class="button-ico">
											<img src="./img/icons/menu-folder.svg" alt="">
										</div>
										<div class="button-title">Мебель</div>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="" class="btn-action-menu">
								<div class="button-ico">
									<img src="./img/icons/menu-folder.svg" alt="">
								</div>
								<div class="button-title">Черовик</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-action-menu">
								<div class="button-ico">
									<img src="./img/icons/menu-archive.svg" alt="">
								</div>
								<div class="button-title">Архив проектов</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-action-menu">
								<div class="button-ico">
									<img src="./img/icons/menu-folder-add.svg" alt="">
								</div>
								<div class="button-title">Новая папка</div>
							</a>
						</li>
						<li class="menu-sep">
							<a href="" class="btn-action-menu">
								<div class="button-ico">
									<img src="./img/icons/menu-help.svg" alt="">
								</div>
								<div class="button-title">Поддержка</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="user-info-wrap">
					<div class="elm-tarif-info">
						<div class="elm-scale" data-scale="75"></div>
						<div class="tarif-info-title">Ваш Тариф Pro  новых проектов Осталось</div>
						<div class="tarif-info-total-wrap">
							<div class="tarif-info-total">236</div>
							<div class="tarif-info-action">
								<a href="" class="btn button-tag">Улучшить</a>
							</div>
						</div>
					</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-action-menu">
								<div class="elm-photo photo-cover">
									<img src="./img/user.jpg" alt="">
								</div>
								<div class="button-title">alina@mail.ru</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-action-menu">
								<div class="button-ico">
									<img src="./img/icons/menu-exit.svg" alt="">
								</div>
								<div class="button-title">Выйти</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/header-panel-box-->