
<!-- header -->
<header class="header header-light">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo logo-large">
				<div class="logo-image">
					<img src="./img/icons/logo-light.svg" alt="">
				</div>
				<div class="logo-title">НЕЙРОМЕЙКЕР</div>
			</a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu button-active-toggle js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Зачем нужен НМ?</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Что умеет НМ?</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Настройки</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Помощь</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="auth-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Вход</div>
							</a>
						</li>
						<li>
							<a href="" class="btn button-att">
								<div class="button-title">Регистрация</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->