<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-integrate">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close-small js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="page-title">Интеграция</div>
		</div>
		<div class="popup-content-wrap">
			<div class="tiles-popup-box">
				<div class="items-wrap">
					<!--item wrap-->
					<div class="item-wrap">
						<div class="item-tile-video js-video" data-video="https://www.youtube.com/embed/ScMzIvxBSi4?controls=0">
							<div class="tile-bg">
								<img src="./img/video.jpg" alt="" class="img-bg-cover">
							</div>
							<a href="" class="btn-action-ico ico-play-yt js-btn-video"></a>
						</div>
					</div>
					<!--/item wrap-->
					<!--item wrap-->
					<div class="item-wrap">
						<div class="item-tile-section-info">
							<a href="" class="tile-button btn-action-ico ico-copy"></a>
							<div class="tile-head-wrap">
								<div class="tile-head">1 способ</div>
							</div>
							<div class="tile-info-wrap">
								<div class="tile-title page-subtitle">Установите этот <div class="btn button-tag">Iframe</div> <br>в нужном месте вашего сайта</div>
								<div class="tile-code-wrap">
									<code>
										&lt;iframe src="https://mag.webuspex38.ru/share? apikey=IukHaLsSWEg7xd4JjioAdSDHRtvkhkyZ&amp;uuid=Qi3a1EppsogqE9t y" height="300" align="center"&gt;
									</code>
								</div>
							</div>
						</div>
					</div>
					<!--/item wrap-->
					<!--item wrap-->
					<div class="item-wrap">
						<div class="item-tile-section-info">
							<a href="" class="tile-button btn-action-ico ico-copy"></a>
							<div class="tile-head-wrap">
								<div class="tile-head">2 способ</div>
							</div>
							<div class="tile-info-wrap">
								<div class="tile-title page-subtitle">Разместите <div class="btn button-tag">div</div> <br>в нужном месте вашего сайта</div>
								<div class="tile-code-wrap">
									<code>
										&lt;div id="mag_video_Qi3aIEppsogqE9ty"&gt;&lt;/div&gt;
									</code>
								</div>
							</div>
						</div>
					</div>
					<!--/item wrap-->
					<!--item wrap-->
					<div class="item-wrap">
						<div class="item-tile-section-info">
							<a href="" class="tile-button btn-action-ico ico-copy"></a>
							<div class="tile-head-wrap">
								<div class="tile-head">1 способ</div>
							</div>
							<div class="tile-info-wrap">
								<div class="tile-title page-subtitle">а код  <div class="btn button-tag">js</div> <br>скрипта - в рамках тега head</div>
								<div class="tile-code-wrap">
									<code>
										&gt;script src="https://mag.webuspex38.ru/share.js? apikey=IukHaLsSWEg7xd4JjioAdSDHRtvkhkyZ&uuid=Qi3a1EppsogqE9t"&gt;/script&gt;
									</code>
								</div>
							</div>
						</div>
					</div>
					<!--/item wrap-->
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->



<!--popup-outer-box-->
<div class="popup-outer-box popup-main" id="popup-login">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close-small js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="page-title">Вход в кабинет</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-input-title">Ваш e-mail</div>
							<div class="field-input-content">
								<input type="text" class="form-input">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-input-title">Пароль</div>
							<div class="field-input-content">
								<div class="frm-field-password">
									<input type="password" class="form-input" value="">
									<a href="" class="btn-action-ico ico-password-toggle button-password-toggle button-active-toggle js-password-toggle"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row row-links">
					<div class="frm-field">
						<div class="frm-select">
							<input type="checkbox" id="popup01">
							<label for="popup01">Запомнить пароль</label>
						</div>
					</div>
					<div class="frm-field">
						<a href="" class="js-popup-open" data-popup="popup-login-password">Напомнить пароль</a>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn">
							<div class="button-title">Войти</div>
						</button>
					</div>
				</div>
			</form>
			<div class="popup-login-box">
				<div class="login-title">Или войдите через</div>
				<div class="frm-row">
					<div class="frm-field">
						<a href="" class="btn-action-login">
							<img src="./img/icons/login01.svg" alt="">
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn-action-login">
							<img src="./img/icons/login02.svg" alt="">
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn-action-login">
							<img src="./img/icons/login03.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-main" id="popup-login-password">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close-small js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="page-title">Напомнить пароль</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-input-title">Ваш e-mail</div>
							<div class="field-input-content">
								<input type="text" class="form-input">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn">
							<div class="button-title">Востановить пароль</div>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-main" id="popup-reg">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close-small js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="page-title">Вход в кабинет</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-input-title">Ваш e-mail</div>
							<div class="field-input-content">
								<input type="text" class="form-input">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-input-title">Ваше имя</div>
							<div class="field-input-content">
								<input type="text" class="form-input">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-input-title">Пароль</div>
							<div class="field-input-content">
								<div class="frm-field-password">
									<input type="password" class="form-input" value="">
									<a href="" class="btn-action-ico ico-password-toggle button-password-toggle button-active-toggle js-password-toggle"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-input-title">повторите Пароль</div>
							<div class="field-input-content">
								<div class="frm-field-password">
									<input type="password" class="form-input" value="">
									<a href="" class="btn-action-ico ico-password-toggle button-password-toggle button-active-toggle js-password-toggle"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn">
							<div class="button-title">Зарегистрироваться</div>
						</button>
					</div>
				</div>
			</form>
			<div class="popup-login-box">
				<div class="login-title">Или войдите через</div>
				<div class="frm-row">
					<div class="frm-field">
						<a href="" class="btn-action-login">
							<img src="./img/icons/login01.svg" alt="">
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn-action-login">
							<img src="./img/icons/login02.svg" alt="">
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn-action-login">
							<img src="./img/icons/login03.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->


<!--popup-outer-box-->
<div class="popup-outer-box popup-main" id="popup-folder-create">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close-small js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="page-title">Новая папка</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-input-title">Название</div>
							<div class="field-input-content">
								<input type="text" class="form-input" placeholder="Введите название">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-half">
						<button type="submit" class="btn button-light">
							<div class="button-title">Отмена</div>
						</button>
					</div>
					<div class="frm-field field-half">
						<button type="submit" class="btn">
							<div class="button-title">Создать</div>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->